---
layout: page
title: Projects
group: navigation
---
{% include JB/setup %}


{% for project in site.data.projects %}
<br>
<div class="row post">
  <div class="span5">
  	<br>
    <img src="{{ project.img_link }}" alt="">
  </div>
  <div class="span7">
    <h3>{{ project.name }}</h3>
    <p>{{ project.desc_1 }}</p>
  </div>
</div>
{% endfor %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61644295-1', 'auto');
  ga('send', 'pageview');

</script>
